In [2]:
# import main libraries

import pandas as pd
import numpy as np
from pycaret.anomaly import *
import psycopg2

In [5]:
# function to load the data from the elephantSQL database

def retrieve_data_to_dataframe(connection_string, query):
    try:
        conn = psycopg2.connect(connection_string)
        df = pd.read_sql_query(query, conn)
        print("Data retrieved successfully.")

        return df

    except Exception as e:
        print("An error occurred:", e)

    finally:
        if conn:
            conn.close()

In [6]:
# retrieve the data from the elephantSQL database

connection_string = 'postgres://omwguwau:MbD4dAIbCz1p7cRYkRqL177_3kgMR3OH@dumbo.db.elephantsql.com/omwguwau'
query = 'SELECT * FROM anomaly_detection'
df = retrieve_data_to_dataframe(connection_string, query)
df.head()

Data retrieved successfully.

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [7]:
# initialize the train the model using the PyCaret library

ano1 = setup(df, session_id=123, ignore_features=['order_id', 'order_date',	'ship_date', 'ship_mode', 'customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'region', 'product_id', 'category', 'sub_category'], normalize=True, transformation=True, pca=True)

In [8]:
# create the model isolation forest

iforest = create_model('iforest')

Processing:   0%|          | 0/3 [00:00<?, ?it/s]

In [9]:
# assign the model to the dataframe

iforest_results = assign_model(iforest)

In [10]:
# save the model

save_model(iforest, 'iforest_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\marce\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['sales', 'quantity', 'discount',
                                              'profit'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['product_name'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  Transf...
                  TransformerWrapper(transformer=PowerTransformer(standardize=False))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('pca', TransformerWrapper(exclude=[], transformer=PCA())),
                 ('trained_model',
                  IForest(behaviour='new', bootstrap=False, contamination=0.05,
     max_features=1.0, max_samples='auto', n_estimators=100, n_jobs=-1,
     random_state=123, verbose=0))]),
 'iforest_model.pkl')